In [1]:
import pandas as pd

In [2]:
path_to_file='./archive/pokemon.csv'
df = pd.read_csv(path_to_file,sep=',')
print(df.shape)
df.head()

(809, 4)

         Name  Type1   Type2   Evolution
0   bulbasaur  Grass  Poison     ivysaur
1     ivysaur  Grass  Poison    venusaur
2    venusaur  Grass  Poison         NaN
3  charmander   Fire     NaN  charmeleon
4  charmeleon   Fire     NaN   charizard

# Primary and secondary Types
charizard is a primary fire, secondary flying, while noibat is a primary flying, secondary dragon, and these types reflect that.

In [3]:
df.loc[df.index[df['Name'] == 'charizard'][0]]

Name         charizard
Type1             Fire
Type2           Flying
Evolution          NaN
Name: 5, dtype: object

In [4]:
df.loc[df.index[df['Name'] == 'noibat'][0]]

Name         noibat
Type1        Flying
Type2        Dragon
Evolution       NaN
Name: 713, dtype: object

In [ ]:
noEvo = df.drop("Evolution", axis=1)
noEvo.head()

         Name  Type1   Type2
0   bulbasaur  Grass  Poison
1     ivysaur  Grass  Poison
2    venusaur  Grass  Poison
3  charmander   Fire     NaN
4  charmeleon   Fire     NaN

# Duel Type analyis

In [6]:
iterateTry = noEvo.copy()
pokemonType = []
for pokemon in iterateTry.itertuples(index=False):
    if type(pokemon.Type2) is float:
        currentType = pokemon.Type1
    elif pokemon.Type1 < pokemon.Type2:
        currentType = pokemon.Type1 + '-' + pokemon.Type2
    else:
        currentType = pokemon.Type2 + '-' + pokemon.Type1
    pokemonType.append(currentType)

iterateTry["Type"] = pokemonType
iterateTry = iterateTry.drop(["Type1", "Type2"], axis=1)
iterateTry.head()

         Name          Type
0   bulbasaur  Grass-Poison
1     ivysaur  Grass-Poison
2    venusaur  Grass-Poison
3  charmander          Fire
4  charmeleon          Fire

In [7]:
counts = iterateTry['Type'].value_counts()
print(counts.shape)
print(counts.to_string())

(136,)
Type
Normal              65
Water               61
Grass               38
Psychic             35
Fire                30
Electric            28
Flying-Normal       26
Fighting            22
Bug                 18
Poison              16
Fairy               16
Ground              15
Grass-Poison        14
Bug-Flying          13
Dragon              12
Bug-Poison          12
Ice                 12
Rock                11
Rock-Water          10
Dark                 9
Ground-Water         9
Ghost                9
Ground-Rock          9
Rock-Steel           7
Psychic-Steel        7
Flying-Water         7
Fire-Flying          6
Dragon-Flying        6
Poison-Water         6
Bug-Grass            6
Flying-Grass         6
Ice-Water            6
Fighting-Fire        6
Dragon-Ground        6
Flying-Psychic       6
Ghost-Grass          6
Steel                6
Fairy-Psychic        6
Psychic-Water        5
Dark-Flying          5
Bug-Water            5
Bug-Steel            5
Fairy-Grass          5
Bug-Rock             5
Dark-Water           4
Fairy-Water          4
Dark-Dragon          4
Ghost-Ground         4
Fire-Ghost           4
Bug-Electric         4
Electric-Steel       4
Flying-Rock          4
Fairy-Normal         4
Fighting-Grass       3
Fighting-Psychic     3
Fairy-Steel          3
Grass-Water          3
Grass-Steel          3
Dark-Fighting        3
Ghost-Steel          3
Dark-Poison          3
Dark-Ground          3
Grass-Psychic        3
Ghost-Poison         3
Electric-Flying      3
Flying-Poison        3
Dark-Fire            3
Ground-Ice           3
Dark-Grass           3
Normal-Psychic       3
Flying-Ground        3
Bug-Fighting         3
Dragon-Fighting      2
Fighting-Normal      2
Fire-Poison          2
Bug-Fairy            2
Dragon-Water         2
Flying-Steel         2
Dark-Ice             2
Dark-Ghost           2
Ground-Steel         2
Flying-Ice           2
Fighting-Water       2
Ground-Poison        2
Ice-Psychic          2
Fairy-Flying         2
Electric-Water       2
Dragon-Psychic       2
Ghost-Water          2
Grass-Normal         2
Fire-Psychic         2
Fighting-Poison      2
Fighting-Steel       2
Flying-Ghost         2
Grass-Ice            2
Electric-Normal      2
Dark-Steel           2
Fire-Normal          2
Dragon-Poison        2
Dragon-Fire          2
Grass-Rock           2
Ground-Psychic       2
Fire-Ground          2
Psychic-Rock         2
Dark-Psychic         2
Dragon-Rock          2
Ghost-Psychic        2
Bug-Fire             2
Electric-Fairy       2
Fairy-Rock           2
Ice-Rock             2
Fire-Rock            1
Bug-Ground           1
Bug-Ghost            1
Dark-Rock            1
Normal-Water         1
Dragon-Steel         1
Fire-Steel           1
Grass-Ground         1
Steel-Water          1
Electric-Ground      1
Electric-Ghost       1
Dragon-Ghost         1
Ghost-Ice            1
Fighting-Rock        1
Dragon-Ice           1
Flying               1
Dragon-Electric      1
Ground-Normal        1
Fighting-Ice         1
Fighting-Flying      1
Fire-Water           1
Fairy-Ghost          1
Dragon-Normal        1
Poison-Rock          1
Fighting-Ghost       1

# Primary Type Analysis

In [8]:
counts = noEvo['Type1'].value_counts()
print(counts.shape)
print(counts.to_string())

(18,)
Type1
Water       114
Normal      105
Grass        78
Bug          72
Fire         53
Psychic      53
Rock         46
Electric     40
Poison       34
Ground       32
Dark         29
Fighting     29
Dragon       27
Ghost        27
Steel        26
Ice          23
Fairy        18
Flying        3

In [9]:
baseline = counts.max()/noEvo.shape[0]
print("Our baseline single type predictor is right",baseline*100,"percent of the time")

Our baseline single type predictor is right 14.091470951792337 percent of the time

# Both Type Analysis

In [10]:
noEvoManip = noEvo.copy()
noEvoManip = noEvoManip.fillna("NoSecondType")
counts1 = noEvoManip['Type1'].value_counts()
counts2 = noEvoManip['Type2'].value_counts()
totalCount = counts1.add(counts2, fill_value=0)
totalCount = totalCount.sort_values(ascending=False)
print(totalCount.shape)
print(totalCount.to_string())

(19,)
NoSecondType    404.0
Water           131.0
Normal          109.0
Flying           98.0
Grass            97.0
Psychic          82.0
Bug              77.0
Poison           66.0
Fire             64.0
Ground           64.0
Rock             60.0
Fighting         54.0
Steel            49.0
Electric         48.0
Fairy            47.0
Dark             46.0
Dragon           45.0
Ghost            43.0
Ice              34.0

In [11]:
totalDataPoints = noEvoManip.shape[0]
correctGuesses = 0
for pokemon in noEvoManip.itertuples(index=False):
    if pokemon.Type1 == "Water" and pokemon.Type2 == "NoSecondType":
        correctGuesses = correctGuesses + 1

correctPercent = correctGuesses/totalDataPoints
print("Our Baseline Predictor was correct",correctPercent*100,"percent of the time.")

Our Baseline Predictor was correct 7.5401730531520395 percent of the time.